.DescriptionBox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;

}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    font-weight: 500px;
    width: 171px;
    height: 70px;
    border: 1px solid purple;
    gap: 10px;
}
.descriptionbox-nav-box.fade{
    
    color: brown;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid purple;
    padding: 48px;
    padding-bottom: 70px;
}
@media(max-width:1280px){
    .DescriptionBox{
        margin: 60px;
    }
}
@media(max-width:800px){
    .DescriptionBox{
        margin: 60px 20px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
}