.shop-banner{
    display: block;
    margin: 30px auto;
    height: 40vh;
    width: 75%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid purple;
}
.shopcategory-indexSort p span{
    font-weight: 400px;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 80px;
}
.shop-loadmore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 50px;
    border-radius: 75px;
    background: pink;
    font-size: 18px;
    font-weight: 500px;
}
.shopcategory-sort img{
    width: 20px;
    height: auto;
}
@media(max-width:1280px){
    .shop-banner{
        margin: 20px auto;
        width: 80%;
    }
    .shopcategory-indexSort{
        width: 80%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-sort img{
        width: 15px;
        height: auto;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 80%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shop-loadmore{
        margin:100px auto ;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .shop-banner{
        width: 95%;
    }
    .shopcategory-indexSort{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shop-loadmore{
        margin:60px auto ;
        width: 150px;
        height: 64px;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
}