.breadcrums{
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
    font-size:12px;
    font-weight: 300px;
    margin: 40px 170px;
    text-transform: capitalize;
}
.breadcrums img{
    width: 10px;
    height: auto;
}
@media(max-width:1280px){
    .breadcrums{
        margin: 30px 50px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .breadcrums{
        margin: 30px 30px;
        font-size: 11px;
    }
}
@media(max-width:800px){
    .breadcrums{
        margin: 30px 10px;
        font-size: 10px;
    }
}
@media(max-width:500px){
    .breadcrums{
        font-size: 10px;
    }
}